body {
    font-family: "Victor Mono", "Athiti", monospace;
    background-color: #F4F4F4;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-bubble {
    padding: 16px;
    border-radius: 8px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.05);
    background-color: #FAFAFA;
    margin-bottom: 16px;
}

.btn-link2 {
    background-color: rgba(0, 0, 0, 0.02);
    padding: 16px;
    border-radius: 8px;
    border: none;
    margin-bottom: 8px;
    width: 100%;
    display: block;
    color: black;
    text-decoration: none;
    text-align: left;
    position: relative;
}

.btn-link2:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.btn-link2:hover::after {
    background-position: 28px 0%;
}

.btn-link2.up:hover::after {
    background-position: 24px -24px;
}

.btn-link2.merge-l:hover::after {
    background-position: 0px -24px;
}

.btn-link2::after {
    content: " ";
    position: absolute;
    right: 16px;
    width: 28px;
    height: 24px;
    transition: background-position 0.2s;
    background-repeat: repeat;
    background-image: url(assets/icons/tabler-icon-arrow-narrow-right.svg);
}

.btn-link2.merge-l::after {
    background-image: url(assets/icons/tabler-icon-arrow-merge-alt-left.png);
}

.btn-link2.up::after {
    background-image: url(assets/icons/tabler-icon-arrow-up-right.png);
}

.l-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.socials a {
    cursor: pointer;
}

.socials a img {
    transition: transform 0.3s, width, 0.3s;
    transform-origin: bottom;
    opacity: 0.5;
    width: 24px;
}

.socials a:hover img {
    transition-duration: 20ms, 20ms;
    opacity: 1;
    transform: scale(1.2);
    width: 30px;
}

.maji {
    position: relative;
    left: 10%;

    animation: majiFloat 10s ease-in-out infinite;
}

@keyframes majiFloat {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(0);
    }
}

.text-sm {
    font-size: 0.75em;
}

.m-hl {
    color: #5D7B6F;
}

.ls-page.hidden {
    display: none;
}

.lsp-tmenu {
    font-weight: 300;
    display: flex;
    align-items: center;
}

.lsp-tmenu .back-btn {
    margin-right: 1em;
    border: none;
    background-color: transparent;
    border-radius: 8px;
    width: 48px;
    height: 48px;
}

.lsp-tmenu .back-btn:hover {
    background-color: rgba(0, 0, 0, 0.04);
}

.lsp-tmenu h1 {
    font-weight: 300;
    font-size: 1.6em;
    letter-spacing: -0.1rem;
}
